@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-c2MqrccmSU7w: 1140px;
  --plasmic-token-content-max-width: var(--token-c2MqrccmSU7w);
  --token-mavs23GmeSOi: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-mavs23GmeSOi);
  --token-7Xo5LcuxTibe: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-7Xo5LcuxTibe);
  --token-NF4kbAkKoQGL: #92959bd9;
  --plasmic-token-light-label: var(--token-NF4kbAkKoQGL);
  --token-IIHWimHGG_fT: #05050599;
  --plasmic-token-light-secondary: var(--token-IIHWimHGG_fT);
  --token-tqlOs_wPteGp: #007aff;
  --plasmic-token-light-blue: var(--token-tqlOs_wPteGp);
  --token-ynnLuuH9p7Ay: #ff3b30;
  --plasmic-token-light-red: var(--token-ynnLuuH9p7Ay);
  --token-JWNKoUA56UDA: #ffffff;
  --plasmic-token-white: var(--token-JWNKoUA56UDA);
  --token-pPIfIPzu3xfp: #ffffffd9;
  --plasmic-token-dark-label: var(--token-pPIfIPzu3xfp);
  --token-3oKmy6GBUvAa: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-3oKmy6GBUvAa);
  --token-DlvkHTQJfXAp: #0000001a;
  --plasmic-token-light-quarternary: var(--token-DlvkHTQJfXAp);
  --token-5ADk8NYk4qVy: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-5ADk8NYk4qVy);
  --token-0bZx_-Qz46La: #32d74b;
  --plasmic-token-dark-green: var(--token-0bZx_-Qz46La);
  --token-LwiFz9mqzzZt: #0a84ff;
  --plasmic-token-dark-blue: var(--token-LwiFz9mqzzZt);
  --token-nmjPJlqkm-zn: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-nmjPJlqkm-zn);
  --token-ajAgUEMebArt: #34c759;
  --plasmic-token-light-green: var(--token-ajAgUEMebArt);
  --token-iqU3XQkZPJDz: #5856d6;
  --plasmic-token-light-indigo: var(--token-iqU3XQkZPJDz);
  --token-T-lL3_usEmnZ: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-T-lL3_usEmnZ);
  --token-EfWFYFLY8pAO: 1240px;
  --plasmic-token-max-width-navbar: var(--token-EfWFYFLY8pAO);
  --token-mFII8QonUJX4: var(--token-5IaMkIMmF5zL);
  --plasmic-token-unnamed-style-token-2: var(--token-mFII8QonUJX4);
  --token-5IaMkIMmF5zL: #eeeeee80;
  --plasmic-token-grey: var(--token-5IaMkIMmF5zL);
  --token-O72LRnhuoME2: #2563eb;
  --plasmic-token-brand-brand: var(--token-O72LRnhuoME2);
  --token-olv8NJ5ixrIQ: 0.5rem;
  --plasmic-token-size-8: var(--token-olv8NJ5ixrIQ);
  --token-XRM9j6-V1P8f: Inter;
  --plasmic-token-sans-serif: var(--token-XRM9j6-V1P8f);
  --token-tlHe3O91SrwN: 1rem;
  --plasmic-token-font-md: var(--token-tlHe3O91SrwN);
  --token-PIjkuVyIGW0m: 1.25;
  --plasmic-token-line-height-md: var(--token-PIjkuVyIGW0m);
  --token-akkVI5UsdBz4: 0.375rem;
  --plasmic-token-size-6: var(--token-akkVI5UsdBz4);
  --token-_ddb7CAgFOtQ: #374151;
  --plasmic-token-neutral-neutral: var(--token-_ddb7CAgFOtQ);
  --token-vZqA8csw2NjF: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-vZqA8csw2NjF);
  --token-uyOk0yhWj4Hs: #6b7280;
  --plasmic-token-muted-muted: var(--token-uyOk0yhWj4Hs);
  --token-I48-wRgcCYAL: 0.25rem;
  --plasmic-token-size-4: var(--token-I48-wRgcCYAL);
  --token-3XFJh8HNTwxN: 0.75rem;
  --plasmic-token-font-sm: var(--token-3XFJh8HNTwxN);
  --token-K-kIZ1dBOH29: 1;
  --plasmic-token-line-height-sm: var(--token-K-kIZ1dBOH29);
  --token-olufO_BaRdgG: 1.25rem;
  --plasmic-token-font-lg: var(--token-olufO_BaRdgG);
  --token-xKlPNvDVWW7S: 1.4;
  --plasmic-token-line-height-lg: var(--token-xKlPNvDVWW7S);
  --token-evfTyLTDnqo-: 0.125rem;
  --plasmic-token-size-2: var(--token-evfTyLTDnqo-);
  --token-JsNl188bD4VA: #16a34a;
  --plasmic-token-success-success: var(--token-JsNl188bD4VA);
  --token-c6LK99DXYt2B: #facc15;
  --plasmic-token-warning-warning: var(--token-c6LK99DXYt2B);
  --token-7YFVwprr6S2V: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-7YFVwprr6S2V);
  --token-yJoFn6XHIt0b: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-yJoFn6XHIt0b);
  --token-FD0J1SBjNpcU: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-FD0J1SBjNpcU);
  --token-PP25UwojeXZV: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-PP25UwojeXZV);
  --token-l70h74WMNlqG: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-l70h74WMNlqG);
  --token-t9FWf4fHWLYE: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-t9FWf4fHWLYE);
  --token-zQHg41cTysGh: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-zQHg41cTysGh);
  --token-fxEnbuXnbrcV: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-fxEnbuXnbrcV);
  --token-5fI-69-dQjZ3: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-5fI-69-dQjZ3);
  --token-g5uTjBPpbz3C: #86efac;
  --plasmic-token-success-success-border: var(--token-g5uTjBPpbz3C);
  --token--AcSTBeu178c: #fde047;
  --plasmic-token-warning-warning-border: var(--token--AcSTBeu178c);
  --token-khQ6_YiYkoY0: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-khQ6_YiYkoY0);
  --token-jpMXbcxyFiI1: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-jpMXbcxyFiI1);
  --token-8cqZ7Zuf7V3J: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-8cqZ7Zuf7V3J);
  --token-M-VvwICGDFKv: #00000033;
  --plasmic-token-interaction-pressed: var(--token-M-VvwICGDFKv);
  --token--NPuS3EKJCfu: 0.625rem;
  --plasmic-token-size-10: var(--token--NPuS3EKJCfu);
  --token-n2aGxElsQZ3r: 0.75rem;
  --plasmic-token-size-12: var(--token-n2aGxElsQZ3r);
  --token-peDhCwYSMKTH: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-peDhCwYSMKTH);
  --token-J3Tqg0Jvvx_h: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-J3Tqg0Jvvx_h);
  --token-kbRIueOFaQp1: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-kbRIueOFaQp1);
  --token-8Xw26gB9wtGB: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-8Xw26gB9wtGB);
  --token-uTP1V3ck-feq: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-uTP1V3ck-feq);
  --token-CrYsmBL3zn7K: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-CrYsmBL3zn7K);
  --token-F6tr7x7IPFFq: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-F6tr7x7IPFFq);
  --token-nzHJhsxIIqBG: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-nzHJhsxIIqBG);
  --token-yQB_2G0VoGZN: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-yQB_2G0VoGZN);
  --token-Jtnqm6nze18B: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-Jtnqm6nze18B);
  --token-Cpv6s6SZHn6B: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-Cpv6s6SZHn6B);
  --token-t4_AkoqL9NiE: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-t4_AkoqL9NiE
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-qIWm5qBzAQg9_font-family: "Montserrat", sans-serif;
  --mixin-qIWm5qBzAQg9_font-size: 24px;
  --mixin-qIWm5qBzAQg9_font-weight: 500;
  --mixin-qIWm5qBzAQg9_font-style: normal;
  --mixin-qIWm5qBzAQg9_color: #00000080;
  --mixin-qIWm5qBzAQg9_text-align: left;
  --mixin-qIWm5qBzAQg9_text-transform: none;
  --mixin-qIWm5qBzAQg9_line-height: 1.5;
  --mixin-qIWm5qBzAQg9_letter-spacing: normal;
  --mixin-qIWm5qBzAQg9_white-space: pre-wrap;
  --mixin-qIWm5qBzAQg9_user-select: text;
  --mixin-qIWm5qBzAQg9_text-decoration-line: none;
  --mixin-qIWm5qBzAQg9_text-overflow: clip;
  --mixin-Y2dzneqO6D3R_white-space: pre-wrap;
  --mixin-TAoqI4mCQqwF_font-family: "Montserrat", sans-serif;
  --mixin-TAoqI4mCQqwF_color: #ffffff;
  --mixin-TAoqI4mCQqwF_font-size: 72px;
  --mixin-TAoqI4mCQqwF_font-weight: 700;
  --mixin-TAoqI4mCQqwF_line-height: 88px;
  --mixin-TAoqI4mCQqwF_white-space: pre-wrap;
  --mixin-0qhqfrsiCsQP_font-family: "Inter", sans-serif;
  --mixin-0qhqfrsiCsQP_color: #000000;
  --mixin-0qhqfrsiCsQP_font-size: 36px;
  --mixin-0qhqfrsiCsQP_font-weight: 700;
  --mixin-0qhqfrsiCsQP_line-height: 43px;
  --mixin-0qhqfrsiCsQP_text-align: center;
  --mixin-0qhqfrsiCsQP_white-space: pre-wrap;
  --mixin-XTEYoFw4Hn2F_font-family: "Inter", sans-serif;
  --mixin-XTEYoFw4Hn2F_color: #000000;
  --mixin-XTEYoFw4Hn2F_font-size: 24px;
  --mixin-XTEYoFw4Hn2F_font-weight: 600;
  --mixin-XTEYoFw4Hn2F_letter-spacing: -0.5px;
  --mixin-XTEYoFw4Hn2F_line-height: 1.3;
  --mixin-XTEYoFw4Hn2F_white-space: pre-wrap;
  --mixin-1YSN9Vgrlw9R_font-family: "Montserrat", sans-serif;
  --mixin-1YSN9Vgrlw9R_color: #185adb;
  --mixin-1YSN9Vgrlw9R_font-size: 24px;
  --mixin-1YSN9Vgrlw9R_font-weight: 700;
  --mixin-1YSN9Vgrlw9R_line-height: 29px;
  --mixin-1YSN9Vgrlw9R_text-align: center;
  --mixin-1YSN9Vgrlw9R_white-space: pre-wrap;
  --mixin-6ghpUY0rLUmR_font-family: "Inter", sans-serif;
  --mixin-6ghpUY0rLUmR_color: #000000;
  --mixin-6ghpUY0rLUmR_font-size: 16px;
  --mixin-6ghpUY0rLUmR_font-weight: 600;
  --mixin-6ghpUY0rLUmR_line-height: 1.5;
  --mixin-6ghpUY0rLUmR_white-space: pre-wrap;
  --mixin-EReSh8kedkTA_border-left-color: #dddddd;
  --mixin-EReSh8kedkTA_border-left-style: solid;
  --mixin-EReSh8kedkTA_border-left-width: 3px;
  --mixin-EReSh8kedkTA_color: #888888;
  --mixin-EReSh8kedkTA_padding-left: 10px;
  --mixin-EReSh8kedkTA_white-space: pre-wrap;
  --mixin-lO916srDPaaC_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-lO916srDPaaC_border-bottom-color: #dddddd;
  --mixin-lO916srDPaaC_border-bottom-style: solid;
  --mixin-lO916srDPaaC_border-bottom-width: 1px;
  --mixin-lO916srDPaaC_border-left-color: #dddddd;
  --mixin-lO916srDPaaC_border-left-style: solid;
  --mixin-lO916srDPaaC_border-left-width: 1px;
  --mixin-lO916srDPaaC_border-right-color: #dddddd;
  --mixin-lO916srDPaaC_border-right-style: solid;
  --mixin-lO916srDPaaC_border-right-width: 1px;
  --mixin-lO916srDPaaC_border-top-color: #dddddd;
  --mixin-lO916srDPaaC_border-top-style: solid;
  --mixin-lO916srDPaaC_border-top-width: 1px;
  --mixin-lO916srDPaaC_border-bottom-left-radius: 3px;
  --mixin-lO916srDPaaC_border-bottom-right-radius: 3px;
  --mixin-lO916srDPaaC_border-top-left-radius: 3px;
  --mixin-lO916srDPaaC_border-top-right-radius: 3px;
  --mixin-lO916srDPaaC_font-family: "Inconsolata";
  --mixin-lO916srDPaaC_padding-bottom: 1px;
  --mixin-lO916srDPaaC_padding-left: 4px;
  --mixin-lO916srDPaaC_padding-right: 4px;
  --mixin-lO916srDPaaC_padding-top: 1px;
  --mixin-lO916srDPaaC_white-space: pre-wrap;
  --mixin-1yWaRBfrSvkJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1yWaRBfrSvkJ_border-bottom-color: #dddddd;
  --mixin-1yWaRBfrSvkJ_border-bottom-style: solid;
  --mixin-1yWaRBfrSvkJ_border-bottom-width: 1px;
  --mixin-1yWaRBfrSvkJ_border-left-color: #dddddd;
  --mixin-1yWaRBfrSvkJ_border-left-style: solid;
  --mixin-1yWaRBfrSvkJ_border-left-width: 1px;
  --mixin-1yWaRBfrSvkJ_border-right-color: #dddddd;
  --mixin-1yWaRBfrSvkJ_border-right-style: solid;
  --mixin-1yWaRBfrSvkJ_border-right-width: 1px;
  --mixin-1yWaRBfrSvkJ_border-top-color: #dddddd;
  --mixin-1yWaRBfrSvkJ_border-top-style: solid;
  --mixin-1yWaRBfrSvkJ_border-top-width: 1px;
  --mixin-1yWaRBfrSvkJ_border-bottom-left-radius: 3px;
  --mixin-1yWaRBfrSvkJ_border-bottom-right-radius: 3px;
  --mixin-1yWaRBfrSvkJ_border-top-left-radius: 3px;
  --mixin-1yWaRBfrSvkJ_border-top-right-radius: 3px;
  --mixin-1yWaRBfrSvkJ_font-family: "Inconsolata";
  --mixin-1yWaRBfrSvkJ_padding-bottom: 3px;
  --mixin-1yWaRBfrSvkJ_padding-left: 6px;
  --mixin-1yWaRBfrSvkJ_padding-right: 6px;
  --mixin-1yWaRBfrSvkJ_padding-top: 3px;
  --mixin-1yWaRBfrSvkJ_white-space: pre-wrap;
  --mixin-7Vfpyq78VMOy_display: flex;
  --mixin-7Vfpyq78VMOy_flex-direction: column;
  --mixin-7Vfpyq78VMOy_align-items: stretch;
  --mixin-7Vfpyq78VMOy_justify-content: flex-start;
  --mixin-7Vfpyq78VMOy_list-style-position: outside;
  --mixin-7Vfpyq78VMOy_padding-left: 40px;
  --mixin-7Vfpyq78VMOy_position: relative;
  --mixin-7Vfpyq78VMOy_list-style-type: decimal;
  --mixin-7Vfpyq78VMOy_white-space: pre-wrap;
  --mixin-X77FH2Vom5e7_display: flex;
  --mixin-X77FH2Vom5e7_flex-direction: column;
  --mixin-X77FH2Vom5e7_align-items: stretch;
  --mixin-X77FH2Vom5e7_justify-content: flex-start;
  --mixin-X77FH2Vom5e7_list-style-position: outside;
  --mixin-X77FH2Vom5e7_padding-left: 40px;
  --mixin-X77FH2Vom5e7_position: relative;
  --mixin-X77FH2Vom5e7_list-style-type: disc;
  --mixin-X77FH2Vom5e7_white-space: pre-wrap;
  --mixin-H0vg5chbnXEk_color: #000000;
  --mixin-H0vg5chbnXEk_font-family: "Montserrat", sans-serif;
  --mixin-H0vg5chbnXEk_font-size: 64px;
  --mixin-H0vg5chbnXEk_font-weight: 700;
  --mixin-H0vg5chbnXEk_line-height: 78px;
  --mixin-H0vg5chbnXEk_text-align: center;
  --mixin-H0vg5chbnXEk_white-space: pre-wrap;
  --mixin-BXMTqtaBPmOQ_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-qIWm5qBzAQg9_font-size: 16px;
    --mixin-qIWm5qBzAQg9_line-height: 27px;
    --mixin-qIWm5qBzAQg9_white-space: pre-wrap;
    --mixin-TAoqI4mCQqwF_font-size: 40px;
    --mixin-TAoqI4mCQqwF_line-height: 48px;
    --mixin-TAoqI4mCQqwF_white-space: pre-wrap;
    --mixin-H0vg5chbnXEk_font-size: 28px;
    --mixin-H0vg5chbnXEk_line-height: 34px;
    --mixin-H0vg5chbnXEk_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-MOwxelB_kZUz_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-MOwxelB_kZUz_white-space);
  --mixin-bQbuHT0gdwyH_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-bQbuHT0gdwyH_box-shadow
  );
  --mixin-bQbuHT0gdwyH_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-bQbuHT0gdwyH_white-space
  );
  --mixin-BhbvZACEWuA__white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-BhbvZACEWuA__white-space);
  --mixin-8ZMQXFvRmOCT_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-8ZMQXFvRmOCT_white-space
  );
  --mixin-uUk5PLgTQCpd_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-uUk5PLgTQCpd_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-qIWm5qBzAQg9_font-family);
  font-size: var(--mixin-qIWm5qBzAQg9_font-size);
  font-weight: var(--mixin-qIWm5qBzAQg9_font-weight);
  font-style: var(--mixin-qIWm5qBzAQg9_font-style);
  color: var(--mixin-qIWm5qBzAQg9_color);
  text-align: var(--mixin-qIWm5qBzAQg9_text-align);
  text-transform: var(--mixin-qIWm5qBzAQg9_text-transform);
  line-height: var(--mixin-qIWm5qBzAQg9_line-height);
  letter-spacing: var(--mixin-qIWm5qBzAQg9_letter-spacing);
  white-space: var(--mixin-qIWm5qBzAQg9_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-TAoqI4mCQqwF_font-family);
  color: var(--mixin-TAoqI4mCQqwF_color);
  font-size: var(--mixin-TAoqI4mCQqwF_font-size);
  font-weight: var(--mixin-TAoqI4mCQqwF_font-weight);
  line-height: var(--mixin-TAoqI4mCQqwF_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-0qhqfrsiCsQP_font-family);
  color: var(--mixin-0qhqfrsiCsQP_color);
  font-size: var(--mixin-0qhqfrsiCsQP_font-size);
  font-weight: var(--mixin-0qhqfrsiCsQP_font-weight);
  line-height: var(--mixin-0qhqfrsiCsQP_line-height);
  text-align: var(--mixin-0qhqfrsiCsQP_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-XTEYoFw4Hn2F_font-family);
  color: var(--mixin-XTEYoFw4Hn2F_color);
  font-size: var(--mixin-XTEYoFw4Hn2F_font-size);
  font-weight: var(--mixin-XTEYoFw4Hn2F_font-weight);
  letter-spacing: var(--mixin-XTEYoFw4Hn2F_letter-spacing);
  line-height: var(--mixin-XTEYoFw4Hn2F_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-1YSN9Vgrlw9R_font-family);
  color: var(--mixin-1YSN9Vgrlw9R_color);
  font-size: var(--mixin-1YSN9Vgrlw9R_font-size);
  font-weight: var(--mixin-1YSN9Vgrlw9R_font-weight);
  line-height: var(--mixin-1YSN9Vgrlw9R_line-height);
  text-align: var(--mixin-1YSN9Vgrlw9R_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-6ghpUY0rLUmR_font-family);
  color: var(--mixin-6ghpUY0rLUmR_color);
  font-size: var(--mixin-6ghpUY0rLUmR_font-size);
  font-weight: var(--mixin-6ghpUY0rLUmR_font-weight);
  line-height: var(--mixin-6ghpUY0rLUmR_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EReSh8kedkTA_color);
  padding-left: var(--mixin-EReSh8kedkTA_padding-left);
  border-left: var(--mixin-EReSh8kedkTA_border-left-width)
    var(--mixin-EReSh8kedkTA_border-left-style)
    var(--mixin-EReSh8kedkTA_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-lO916srDPaaC_font-family);
  border-radius: var(--mixin-lO916srDPaaC_border-top-left-radius)
    var(--mixin-lO916srDPaaC_border-top-right-radius)
    var(--mixin-lO916srDPaaC_border-bottom-right-radius)
    var(--mixin-lO916srDPaaC_border-bottom-left-radius);
  padding: var(--mixin-lO916srDPaaC_padding-top)
    var(--mixin-lO916srDPaaC_padding-right)
    var(--mixin-lO916srDPaaC_padding-bottom)
    var(--mixin-lO916srDPaaC_padding-left);
  border-top: var(--mixin-lO916srDPaaC_border-top-width)
    var(--mixin-lO916srDPaaC_border-top-style)
    var(--mixin-lO916srDPaaC_border-top-color);
  border-right: var(--mixin-lO916srDPaaC_border-right-width)
    var(--mixin-lO916srDPaaC_border-right-style)
    var(--mixin-lO916srDPaaC_border-right-color);
  border-bottom: var(--mixin-lO916srDPaaC_border-bottom-width)
    var(--mixin-lO916srDPaaC_border-bottom-style)
    var(--mixin-lO916srDPaaC_border-bottom-color);
  border-left: var(--mixin-lO916srDPaaC_border-left-width)
    var(--mixin-lO916srDPaaC_border-left-style)
    var(--mixin-lO916srDPaaC_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1yWaRBfrSvkJ_font-family);
  border-radius: var(--mixin-1yWaRBfrSvkJ_border-top-left-radius)
    var(--mixin-1yWaRBfrSvkJ_border-top-right-radius)
    var(--mixin-1yWaRBfrSvkJ_border-bottom-right-radius)
    var(--mixin-1yWaRBfrSvkJ_border-bottom-left-radius);
  padding: var(--mixin-1yWaRBfrSvkJ_padding-top)
    var(--mixin-1yWaRBfrSvkJ_padding-right)
    var(--mixin-1yWaRBfrSvkJ_padding-bottom)
    var(--mixin-1yWaRBfrSvkJ_padding-left);
  border-top: var(--mixin-1yWaRBfrSvkJ_border-top-width)
    var(--mixin-1yWaRBfrSvkJ_border-top-style)
    var(--mixin-1yWaRBfrSvkJ_border-top-color);
  border-right: var(--mixin-1yWaRBfrSvkJ_border-right-width)
    var(--mixin-1yWaRBfrSvkJ_border-right-style)
    var(--mixin-1yWaRBfrSvkJ_border-right-color);
  border-bottom: var(--mixin-1yWaRBfrSvkJ_border-bottom-width)
    var(--mixin-1yWaRBfrSvkJ_border-bottom-style)
    var(--mixin-1yWaRBfrSvkJ_border-bottom-color);
  border-left: var(--mixin-1yWaRBfrSvkJ_border-left-width)
    var(--mixin-1yWaRBfrSvkJ_border-left-style)
    var(--mixin-1yWaRBfrSvkJ_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7Vfpyq78VMOy_display);
  flex-direction: var(--mixin-7Vfpyq78VMOy_flex-direction);
  align-items: var(--mixin-7Vfpyq78VMOy_align-items);
  justify-content: var(--mixin-7Vfpyq78VMOy_justify-content);
  list-style-position: var(--mixin-7Vfpyq78VMOy_list-style-position);
  padding-left: var(--mixin-7Vfpyq78VMOy_padding-left);
  position: var(--mixin-7Vfpyq78VMOy_position);
  list-style-type: var(--mixin-7Vfpyq78VMOy_list-style-type);
  flex-column-gap: var(--mixin-7Vfpyq78VMOy_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-X77FH2Vom5e7_display);
  flex-direction: var(--mixin-X77FH2Vom5e7_flex-direction);
  align-items: var(--mixin-X77FH2Vom5e7_align-items);
  justify-content: var(--mixin-X77FH2Vom5e7_justify-content);
  list-style-position: var(--mixin-X77FH2Vom5e7_list-style-position);
  padding-left: var(--mixin-X77FH2Vom5e7_padding-left);
  position: var(--mixin-X77FH2Vom5e7_position);
  list-style-type: var(--mixin-X77FH2Vom5e7_list-style-type);
  flex-column-gap: var(--mixin-X77FH2Vom5e7_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-H0vg5chbnXEk_color);
  font-family: var(--mixin-H0vg5chbnXEk_font-family);
  font-size: var(--mixin-H0vg5chbnXEk_font-size);
  font-weight: var(--mixin-H0vg5chbnXEk_font-weight);
  line-height: var(--mixin-H0vg5chbnXEk_line-height);
  text-align: var(--mixin-H0vg5chbnXEk_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
