.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-T-lL3_usEmnZ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-olv8NJ5ixrIQ);
  font-family: var(--token-XRM9j6-V1P8f);
  font-size: var(--token-tlHe3O91SrwN);
  line-height: var(--token-PIjkuVyIGW0m);
  outline-style: none;
  border-radius: var(--token-akkVI5UsdBz4);
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-evfTyLTDnqo-);
  outline-offset: 1px;
  outline-color: var(--token-O72LRnhuoME2);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-_ddb7CAgFOtQ);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-uyOk0yhWj4Hs);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-JsNl188bD4VA);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-c6LK99DXYt2B);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-vZqA8csw2NjF);
}
.rootcolor_blue:global(.__wab_instance) {
  background: var(--token-T-lL3_usEmnZ);
  border-style: solid;
  border-color: #185adb;
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-K-kIZ1dBOH29);
  font-size: var(--token-3XFJh8HNTwxN);
  column-gap: var(--token-evfTyLTDnqo-);
  row-gap: 0px;
  border-radius: var(--token-I48-wRgcCYAL);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-3XFJh8HNTwxN);
  line-height: var(--token-K-kIZ1dBOH29);
  column-gap: var(--token-I48-wRgcCYAL);
  row-gap: 0px;
  border-radius: var(--token-I48-wRgcCYAL);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-olufO_BaRdgG);
  line-height: var(--token-xKlPNvDVWW7S);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-olufO_BaRdgG);
  line-height: var(--token-xKlPNvDVWW7S);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-7YFVwprr6S2V);
  border-radius: var(--token-akkVI5UsdBz4);
}
.softBackgroundcolor_neutral {
  background: var(--token-yJoFn6XHIt0b);
}
.softBackgroundcolor_muted {
  background: var(--token-FD0J1SBjNpcU);
}
.softBackgroundcolor_success {
  background: var(--token-PP25UwojeXZV);
}
.softBackgroundcolor_warning {
  background: var(--token-l70h74WMNlqG);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-t9FWf4fHWLYE);
}
.softBackgroundtype_soft {
  background: var(--token-JWNKoUA56UDA);
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.roottype_bordered_color_blue[data-hovered]
  .softBackgroundtype_bordered_color_blue {
  background: var(--token-nzHJhsxIIqBG);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-akkVI5UsdBz4);
  border: 0px solid var(--token-zQHg41cTysGh);
}
.bordercolor_neutral {
  border-color: var(--token-fxEnbuXnbrcV);
}
.bordercolor_muted {
  border-color: var(--token-5fI-69-dQjZ3);
}
.bordercolor_success {
  border-color: var(--token-g5uTjBPpbz3C);
}
.bordercolor_warning {
  border-color: var(--token--AcSTBeu178c);
}
.bordercolor_errorDestructive {
  border-color: var(--token-khQ6_YiYkoY0);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
  border-color: #185adb;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-akkVI5UsdBz4);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-jpMXbcxyFiI1);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-8cqZ7Zuf7V3J);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-M-VvwICGDFKv);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__cGqSg {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-akkVI5UsdBz4) var(--token--NPuS3EKJCfu);
}
.freeBox__cGqSg > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-akkVI5UsdBz4));
  width: calc(100% + var(--token-akkVI5UsdBz4));
}
.freeBox__cGqSg > :global(.__wab_flex-container) > *,
.freeBox__cGqSg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cGqSg > :global(.__wab_flex-container) > picture > img,
.freeBox__cGqSg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-akkVI5UsdBz4);
}
.freeBoxsize_extraSmall__cGqSg3SwZu {
  padding: var(--token-I48-wRgcCYAL) var(--token-akkVI5UsdBz4);
}
.freeBoxsize_small__cGqSGtHpQm {
  padding: var(--token-akkVI5UsdBz4) var(--token-olv8NJ5ixrIQ);
}
.freeBoxsize_large__cGqSGkJaBe {
  padding-top: var(--token-I48-wRgcCYAL);
  padding-bottom: var(--token-I48-wRgcCYAL);
}
.freeBoxsize_extraLarge__cGqSgIw5Te {
  padding: 16px 32px;
}
.freeBoxroundedFull__cGqSgk1PP1 {
  padding-right: var(--token-n2aGxElsQZ3r);
  padding-left: var(--token-n2aGxElsQZ3r);
}
.freeBox__uA1Ba {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__uA1BaReOn5 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-peDhCwYSMKTH);
}
.slotTargetStartcolor_neutral {
  color: var(--token-J3Tqg0Jvvx_h);
}
.slotTargetStartcolor_muted {
  color: var(--token-kbRIueOFaQp1);
}
.slotTargetStartcolor_success {
  color: var(--token-CrYsmBL3zn7K);
}
.slotTargetStartcolor_warning {
  color: var(--token-uTP1V3ck-feq);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-F6tr7x7IPFFq);
}
.slotTargetStarttype_soft {
  color: var(--token-8Xw26gB9wtGB);
}
.slotTargetStarttype_bordered {
  color: var(--token-8Xw26gB9wtGB);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-3XFJh8HNTwxN);
}
.slotTargetStartsize_small {
  font-size: var(--token-3XFJh8HNTwxN);
}
.slotTargetStartsize_large {
  font-size: var(--token-olufO_BaRdgG);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-olufO_BaRdgG);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.svg__n2O22 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-peDhCwYSMKTH);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-J3Tqg0Jvvx_h);
}
.slotTargetLabelcolor_muted {
  color: var(--token-kbRIueOFaQp1);
}
.slotTargetLabelcolor_success {
  color: var(--token-CrYsmBL3zn7K);
}
.slotTargetLabelcolor_warning {
  color: var(--token-uTP1V3ck-feq);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-F6tr7x7IPFFq);
}
.slotTargetLabeltype_soft {
  color: #185adb;
}
.slotTargetLabeltype_bordered {
  color: var(--token-8Xw26gB9wtGB);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.text__rHtXy {
  white-space: pre;
  color: #eeeeee;
}
.freeBox__s9O8E {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__s9O8ExwiyS {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-peDhCwYSMKTH);
}
.slotTargetEndcolor_neutral {
  color: var(--token-J3Tqg0Jvvx_h);
}
.slotTargetEndcolor_muted {
  color: var(--token-kbRIueOFaQp1);
}
.slotTargetEndcolor_success {
  color: var(--token-CrYsmBL3zn7K);
}
.slotTargetEndcolor_warning {
  color: var(--token-uTP1V3ck-feq);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-F6tr7x7IPFFq);
}
.slotTargetEndtype_soft {
  color: var(--token-8Xw26gB9wtGB);
}
.slotTargetEndtype_bordered {
  color: var(--token-8Xw26gB9wtGB);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-3XFJh8HNTwxN);
}
.slotTargetEndsize_small {
  font-size: var(--token-3XFJh8HNTwxN);
}
.slotTargetEndsize_large {
  font-size: var(--token-olufO_BaRdgG);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-olufO_BaRdgG);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-nzHJhsxIIqBG);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-yQB_2G0VoGZN);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-Jtnqm6nze18B);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Cpv6s6SZHn6B);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-t4_AkoqL9NiE);
}
.svg__wGqPt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
